*filter
:INPUT ACCEPT
-A INPUT -p udp -s 172.20.0.0/14 --dport 53 -j ACCEPT
-A INPUT -p udp -s 127.0.0.1 --dport 53 -j ACCEPT
{% if inventory_hostname in groups["dn42_nat_gw"] %}
-A INPUT -p udp -s {{ nat_subnet }} --dport 53 -j ACCEPT
{% endif %}
-A INPUT -p udp --dport 53 -j REJECT --reject-with icmp-port-unreachable
:FORWARD ACCEPT
:OUTPUT ACCEPT
COMMIT

{% if inventory_hostname in groups["dn42_nat_gw"] %}
*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
-A POSTROUTING -s {{ nat_subnet }} -o dn42_+ -j MASQUERADE
-A POSTROUTING -s {{ nat_subnet }} -o igp_+ -j SNAT --to-source {{ ownip }}
-A POSTROUTING -s {{ ownasnet }} -o {{ nat_iface }} -j MASQUERADE
COMMIT
{% endif %}
