{
        "servers": "{{ groups['dn42'] | join(',') }}",
        "domain": "derix.dn42",
        "proxy_port": "8000",
        "title_brand": "derix.dn42",
        "navbar_brand": "derix.dn42",
        "whois": "whois.burble.dn42",
        "net_specific_mode": "dn42",
        "timeout": "30",
        "protocol_filter": "BGP,Babel"
}
