; BIND db file for derix.dn42

$TTL 60

@       IN      SOA     ns1.derix.dn42.      dn42.derix.dev. (
                        2023122104      ; serial number YYMMDDNN
                        60              ; Refresh
                        60              ; Retry
                        60              ; Expire
                        60              ; Min TTL
                        )

                NS      ns1.derix.dn42.
                NS      ns2.derix.dn42.

ns1             A       172.23.120.17
ns2             A       172.23.120.18
@               A       172.23.120.17
lg              A       172.23.120.17

au-bne1         A       172.23.120.17
au-bne1         AAAA    fd93:6001:6ed9:0::1
au-syd1         A       172.23.120.18
au-syd1         AAAA    fd93:6001:6ed9:1::1
us-pdx1         A       172.23.120.19
us-pdx1         AAAA    fd93:6001:6ed9:2::1
us-nyc1         A       172.23.120.20
us-nyc1         AAAA    fd93:6001:6ed9:3::1
nl-ams1         A       172.23.120.21
nl-ams1         AAAA    fd93:6001:6ed9:4::1
uk-bhx1         A       172.23.120.22
uk-bhx1         AAAA    fd93:6001:6ed9:5::1
pl-waw1         A       172.23.120.23
pl-waw1         AAAA    fd93:6001:6ed9:6::1
us-lax1         A       172.23.120.24
us-lax1         AAAA    fd93:6001:6ed9:7::1

au-syd2         AAAA    fd93:6001:6ed9:6001::1
jp-tyo1         AAAA    fd93:6001:6ed9:6002::1
sg-sin1         AAAA    fd93:6001:6ed9:6003::1
us-coe1         AAAA    fd93:6001:6ed9:6004::1
us-chi1         AAAA    fd93:6001:6ed9:6005::1
us-jax1         AAAA    fd93:6001:6ed9:6006::1
ca-mtl1         AAAA    fd93:6001:6ed9:6007::1
fr-gra1         AAAA    fd93:6001:6ed9:6008::1
de-fsn1         AAAA    fd93:6001:6ed9:6009::1
fi-hel1         AAAA    fd93:6001:6ed9:6010::1
bg-sof1         AAAA    fd93:6001:6ed9:6011::1

$ORIGIN derix.dn42.
