acl "trusted" {
    {{ ownasnet }};
    {{ ownasnet6 }};
{% if inventory_hostname in groups["dn42_nat_gw"] %}
    {{ nat_subnet }};
{% endif %}
    localhost;
    localnets;
};


options {
    directory "/var/cache/bind";

    dns64 {{ nat64_pool }} {
        clients { !{{ ownasnet6 | replace('48', '52') }}; !{{ anycast_ip6 | replace('::1', '::/64') }}; any; }; // exclude own dual-stack nodes & anycast nodes
        break-dnssec yes;
        mapped { 172.20/14; }; // only include dn42 space
    };

    validate-except {
        "dn42";
        "20.172.in-addr.arpa";
        "21.172.in-addr.arpa";
        "22.172.in-addr.arpa";
        "23.172.in-addr.arpa";
        "10.in-addr.arpa";
        "d.f.ip6.arpa";
    };
    empty-zones-enable no;

    //========================================================================
    // If BIND logs error messages about the root key being expired,
    // you will need to update your keys.  See https://www.isc.org/bind-keys
    //========================================================================
    dnssec-validation auto;

    listen-on-v6 { any; };
    allow-recursion { "trusted"; };
};
